[*.cs]

# Charset
charset = utf-8

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

# C# preferences
csharp_style_namespace_declarations = file_scoped

# StyleCop rules (https://dotnetanalyzers.github.io/StyleCopAnalyzers/)

# Special rules
dotnet_diagnostic.SA0001.severity = none # XML comment analysis disabled

# Spacing rules
dotnet_diagnostic.SA1003.severity = suggestion # Symbols should be spaced correctly
dotnet_diagnostic.SA1008.severity = suggestion # Opening parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = suggestion # Closing parenthesis should be spaced correctly

# Readability rules
dotnet_diagnostic.SA1101.severity = none # Prefix local calls with this

# Ordering rules
dotnet_diagnostic.SA1200.severity = suggestion # Using directives should be placed correctly
dotnet_diagnostic.SA1201.severity = none       # SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1202.severity = none       # SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1204.severity = suggestion # Static elements should appear before instance elements

# Maintainability rules
dotnet_diagnostic.SA1407.severity = suggestion # Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1413.severity = suggestion # Use trailing comma in multi-line initializers

# Layout rules
dotnet_diagnostic.SA1500.severity = suggestion # Braces for multi-line statements should not share line

# Documentation rules
dotnet_diagnostic.SA1600.severity = none # Elements should be documented
dotnet_diagnostic.SA1601.severity = suggestion # Partial elements should be documented
dotnet_diagnostic.SA1602.severity = suggestion # Enumeration items should be documented
dotnet_diagnostic.SA1633.severity = none # File should have header

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# MA0055: Do not use finalizer
dotnet_diagnostic.MA0055.severity = none