name: CI

on:
  push:
    branches: 
      - '*'
  
jobs:
  pack-nuget:
    runs-on: ubuntu-latest
           
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
     
      - name: Download artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          path: ./output
          workflow: build-binaries.yml
          workflow_conclusion: success

      - name: Nuget pack
        run: |
          dotnet pack -c Release

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          path: |
            **/*.nupkg
