# Authors:
#
# Sam Gold <https://github.com/goldsam>
# Sebastian Stehle <https://github.com/SebastianStehle>
# Lucas Viana <https://github.com/LSViana>

name: Publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    uses: ./.github/workflows/build-binaries.yml

  pack-nuget:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4.2.0
        with:
          dotnet-version: 10.0.x

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./output
  
      - name: NuGet pack
        run: |
          dotnet pack -c Release
  
      - name: NuGet publish
        run: |
          dotnet nuget push **/*.nupkg --source 'https://api.nuget.org/v3/index.json' --skip-duplicate -k ${{ secrets.nuget }}
  
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: |
            **/*.nupkg
