# Authors:
#
# Sam Gold <https://github.com/goldsam>
# Sebastian Stehle <https://github.com/SebastianStehle>
# Lucas Viana <https://github.com/LSViana>

name: Test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    uses: ./.github/workflows/build-binaries.yml

  test:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        include:
          # Windows
          - build: win-x64
            os: windows-latest
            test: --filter Category!=Docker

          - build: win-arm64
            os: windows-11-arm
            test: --filter Category!=Docker
            
            # Linux
          - build: linux-x64
            os: ubuntu-latest

          - build: linux-x64-musl
            os: ubuntu-latest

          # macOS
          - build: macos-aarch64
            os: macos-latest
            test: --filter Category!=Docker

    steps:
      - name: Checkout
        uses: actions/checkout@v3
 
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4.2.0
        with:
          dotnet-version: 10.0.x

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./output

      - name: Copy binaries
        run: |
          cp output/${{ matrix.build }}/*.* YDotNet

      - name: Run tests
        run: |
          dotnet test Tests/YDotNet.Tests.Unit
        env:
          RUST_BACKTRACE: 1

      - name: Run tests server
        run: |
          dotnet test Tests/YDotNet.Tests.Server.Unit ${{ matrix.test }}
        env:
          RUST_BACKTRACE: 1
