# Authors:
#
# Sam Gold <https://github.com/goldsam>
# Sebastian Stehle <https://github.com/SebastianStehle>
# Lucas Viana <https://github.com/LSViana>

name: Test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        include:
          # Windows
          - build: win-x64
            os: windows-latest
            
            # Linux
          - build: linux-x64
            os: ubuntu-latest

          - build: linux-x64-musl
            os: ubuntu-latest

          # macOS
          - build: macos-aarch64
            os: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          path: ./output
          workflow: build-binaries.yml
          workflow_conclusion: success
          name: ${{ matrix.build }}
          name_is_regexp: true
          branch: master

      - name: Copy binaries
        run: |
          cp output/${{ matrix.build }}/*.* YDotNet

      - name: Run tests
        run: |
          dotnet test Tests/YDotNet.Tests.Unit
        env:
          RUST_BACKTRACE: 1

      - name: Run tests server
        run: |
          dotnet test Tests/YDotNet.Tests.Server.Unit
        env:
          RUST_BACKTRACE: 1
